@model IEnumerable<Test.Models.Product>

@{
    ViewData["Title"] = "Produkter";
}

<div class="d-flex justify-content-between align-items-center mb-3">
    <h1 class="mb-0">Produkter</h1>
    @if (Context.Session.GetInt32("UserId") != null)
    {
        <a asp-action="Create" class="btn btn-primary">Add a new product</a>
    }
    else
    {
        <a asp-controller="Account" asp-action="Login" class="btn btn-primary">Log inn to add product</a>
    }
</div>

<div class="search-section py-5">
    <div class="container">
        <h2 class="text-center mb-4">Search for Products</h2>
        <form asp-controller="Home" asp-action="Search" method="get" class="d-flex justify-content-center">
            <input type="text" name="query" class="form-control w-50 me-2" placeholder="Skriv inn produktnavn..." />
            <button type="submit" class="btn btn-primary">search</button>
        </form>
    </div>
</div>

<table class="table">
    <thead>
        <tr>
            <th>Bilde</th>
            <th>Navn</th>
            <th>Beskrivelse</th>
            <th>Kalorier</th>
            <th>Fett</th>
            <th>Karbohydrater</th>
            <th>Proteiner</th>
            <th>Handlinger</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @if (!string.IsNullOrEmpty(item.ImageUrl))
                    {
                        <img src="@item.ImageUrl" alt="@item.Name" style="max-width: 100px;" />
                    }
                </td>
                <td>@item.Name</td>
                <td>@item.Description</td>
                <td>@item.Calories</td>
                <td>@item.Fat</td>
                <td>@item.Carbohydrates</td>
                <td>@item.Protein</td>
                <td>
                    <div class="btn-group" role="group">
                        <a asp-action="Details" asp-route-id="@item.Id" class="btn btn-outline-primary btn-sm">
                            <i class="bi bi-info-circle-fill" me-1></i> Detaljer
                        </a>
                        @if (Context.Session.GetInt32("UserId") == item.UserId)
                        {
                            <a asp-action="Edit" asp-route-id="@item.Id" class="btn btn-outline-primary btn-sm">
                                <i class="bi bi-pencil-fill" me-1></i> Rediger
                            </a>
                            <a asp-action="Delete" asp-route-id="@item.Id" class="btn btn-outline-danger btn-sm">
                                <i class="bi bi-trash-fill me-1"></i> Slett
                            </a>
                        }
                    </div>
                </td>
            </tr>
        }
    </tbody>
</table>

