@model IEnumerable<Test.Models.Product>

@{
    ViewData["Title"] = "Produkter";
}

<h1>Produkter</h1>

<p>
    @if (Context.Session.GetInt32("UserId") != null)
    {
        <a asp-action="Create" class="btn btn-primary">Legg til nytt produkt</a>
    }
    else
    {
        <a asp-controller="Account" asp-action="Login" class="btn btn-primary">Logg inn for å legge til produkt</a>
    }
</p>

<table class="table">
    <thead>
        <tr>
            <th>Navn</th>
            <th>Beskrivelse</th>
            <th>Kalorier</th>
            <th>Fett</th>
            <th>Karbohydrater</th>
            <th>Proteiner</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.Name</td>
                <td>@item.Description</td>
                <td>@item.Calories</td>
                <td>@item.Fat</td>
                <td>@item.Carbohydrates</td>
                <td>@item.Protein</td>
                <td>
                    <a asp-action="Details" asp-route-id="@item.Id">Detaljer</a>
                    @if (Context.Session.GetInt32("UserId") == item.UserId){

                         <a asp-action="Edit" asp-route-id="@item.Id">Rediger</a>
                         <a asp-action="Delete" asp-route-id="@item.Id">Slett</a>
                        }
                </td>
            </tr>
        }
    </tbody>
</table>
